<?xml version="1.0" encoding="utf-8"?>

<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- ПРИЛОЖЕНИЮ ТРЕБУЕТСЯ РАЗРЕШЕНИЕ НА ИСПОЛЬЗОВАНИЕ ИНТЕРНЕТА -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".app.App"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Base.Theme.PlaylistMaker"
        tools:targetApi="33">

        <activity
            android:name=".presentation.player.activity.PlayerActivity"
            android:exported="false"
            android:theme="@style/Base.Theme.PlaylistMaker.PlayerActivity" />

        <activity
            android:name=".presentation.search.activity.SearchActivity"
            android:exported="false"
            android:theme="@style/Base.Theme.PlaylistMaker.SearchActivity" />

        <activity
            android:name=".presentation.library.LibraryActivity"
            android:exported="false" />

        <activity
            android:name=".presentation.settings.activity.SettingsActivity"
            android:exported="false"
            android:theme="@style/Base.Theme.PlaylistMaker.SettingsActivity" />

        <activity
            android:name=".presentation.main.MainActivity"
            android:exported="true"
            android:theme="@style/Base.Theme.PlaylistMaker.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>